<div ng-controller="depotReceiptTransferCtrl">
  <div ng-include="'html/header.html'"></div>
  <menu-div></menu-div>
  <!--CONTENT AREA-->
  <div id="header_bgimg">
    <div class="overlay">
      <div class="container-fluid main_content">
        <ul class="breadcrumb_new">
          <li><a href="#/home">Home</a></li>
          <li><a href="#/depotReceiptList">Depot Receipt List</a></li>
          <li class="active">Receipt Stock Transfer List</li>
        </ul>
      </div>
      <div class="main_content">
        <div class="customer_heading text-center">Receipt Stock Transfer List</div>
      </div>
    </div>
  </div>
  <toast></toast>
  <div class="container-fluid main_content">
    <div id="main">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="block-bg">
            <div class="col-lg-12 col-md-12">

          <form class="form-horizontal" role="form">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="col-sm-3 text-right" for="">From Depot</label>
                <div class="col-sm-7 col-md-7" ><b>:</b> {{depotReceiptList.vehicles[0].previousState.name}}</div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 text-right" for="">To Depot </label>
                <div ng-if='depotReceiptList.vehicles[0].locationType=="DEPOT"' class="col-sm-7 col-md-7" ><b>:</b> {{depotReceiptList.vehicles[0].depot.name}}</div>
                <div ng-if='depotReceiptList.vehicles[0].locationType=="PLANT"' class="col-sm-7 col-md-7" ><b>:</b> {{depotReceiptList.vehicles[0].plant.name}}</div>
              </div>

            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="col-sm-6 text-right" for="">Stock Transfer Invoice No.</label>
                <div class="col-sm-6 col-md-6" ><b>:</b> {{depotReceiptList.invoiceNumber}}</div>
              </div>
              <div class="form-group">
                <label class="col-sm-6 text-right" for="">Stock Transfer Invoice Date</label>
                <div ng-if='depotReceiptList.vehicles[0].locationType=="PLANT"' class="col-sm-6 col-md-6" ><b>:</b> {{depotReceiptList.vehicles[0].plant.invoiceDate | date:"dd-MM-yyyy"}}</div>
                <div ng-if='depotReceiptList.vehicles[0].locationType=="DEPOT"' class="col-sm-6 col-md-6" ><b>:</b> {{depotReceiptList.vehicles[0].depot.invoiceDate | date:"dd-MM-yyyy"}}</div>
              </div>
            </div>
          </form>

        </div>
        </div>
        </div>

      </div>
      <flash-message duration="2000" id="flash"></flash-message>
      <div class="row">
          <div class="col-lg-12 col-md-12">
            <section id="no-more-tables">
              <div class="success-msg" id="successMessage" ng-if="successMessage">{{successMessage}}</div>
              <div class="error-msg" id="successMessage" ng-if="errorMessage">{{errorMessage}}</div>
              <table class="table table-bordered table-striped table-condensed cf">
                <thead class="cf text_hd">
                  <tr>
                    <th width="7%"><i class="fa fa-sort-numeric-asc"></i>SL No.</th>
                    <th><i class="SDF_symbol"></i>Product Code</th>
                    <th><i class="SDF_symbol"></i>Model Name</th>
                    <th><i class="SDF_symbol"></i>Variant</th>
                    <th><i class="SDF_symbol"></i>Chassis No</th>
                    <th width="10%"><i class="fa fa-gear"></i>Engine No</th>

                    <!-- <th width="14%"><i class="SDF_symbol"></i>Shortage/Damage</th>
                    <th><i class="SDF_symbol"></i>Tractor Blocked</th>
                      <th><i class="fa fa-check"></i>View</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="vehicle in depotReceiptList.vehicles">

                    <td data-title="SL No.">{{($index+1 +lastIndexes[$parent.$index-1])}}</td>
                    <td data-title="Model Code">{{vehicle.productCode}}</td>
                    <td data-title="Model Name" width="20%">{{vehicle.model}}</td>
                    <td data-title="Tractor No">{{vehicle.variantCode}}</td>
                    <td data-title="Chassis No">{{vehicle.chassisNo}}</td>
                    <td data-title="Engine No">{{vehicle.engineNo}} </td>

                    <!-- <td data-title="Shortage" ng-if="field.isPdi ==2">
                      <a ng-if="field.damageCount == 0" class="btn bg-green btn-xs" href="" data-toggle="modal" id="button" data-target="#addShortageParts" ng-click="getSelected(field.chasisNo,depotReceiptList.vehicles[0].depotCode)"> <span class="margin-right-0">Select Shortage/Damage Parts</span></a>
                      <a ng-if="field.damageCount > 0" class="btn bg-red btn-xs" href=""  data-toggle="modal" id="button" data-target="#addShortageParts" ng-click="getSelected(field.chasisNo,depotReceiptList.vehicles[0].depotCode)"> <span class="margin-right-0">Select Shortage/Damage Parts</span></a>
                    </td>
                    <td data-title="Shortage" ng-if="field.isPdi ==1">
                       <span class="margin-right-0"></span>
                    </td>
                    <td data-title="Shortage" ng-if="field.isPdi ==3">
                       <span class="margin-right-0">Under PDI</span>
                    </td>
                    <td  data-title="Tractor Blocked">{{field.isBlocked}}</td>
                    <td ng-if="field.isPdi ==1" data-title="Receive Tractor"></td>
                    <td ng-if="field.isPdi ==2" data-title="Receive Tractor"><a class="btn bg-green btn-xs" href="" ng-disabled="field.damageCount == 0" ng-click="getDepotPartsList(field.chasisNo)">View List</a></td>
                    <td ng-if="field.isPdi == 3" data-title="Receive Tractor"><a class="btn bg-green btn-xs" href="" ng-click="getDepotPdiList(field)">Go PDI</a></td> -->
                  </tr>

                </tbody>
              </table>
            </section>
          </div>

      </div>


      <form class="" >
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="padding-15 form-horizontal" style="background: #eee;">
<div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
          <form class="form-horizontal" role="form">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label col-sm-5" for="">Transporter Name :</label>
                  <div class="col-sm-7 col-md-7 margin-top-10" ng-if="depotReceiptList.vehicles[0].depot.transport.type == 'TRUCK'">
                    <b>{{depotReceiptList.vehicles[0].depot.transport.name}}</b>
                  </div>
                  <div class="col-sm-7 col-md-7 margin-top-10" ng-if="depotReceiptList.vehicles[0].depot.transport.type == 'ROAD'">
                    <b>By Road</b>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label col-sm-5" for="">Actual Truck No. :</label>
                  <div class="col-sm-7 col-md-7 input-group input-group-md">
                    <div class="icon-addon addon-md">
                      <input type="text" placeholder="Enter Truck No."  ng-model="rem.actualTruckNo" class="form-control"  >
                    </div><span class="input-group-addon radius_none"><i class="fa fa-truck color_orange"></i></span>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label col-sm-5" for="">LR GR No./Date :</label>
                  <div class="col-sm-7 col-md-7 margin-top-10">
                    {{depotReceiptList.CreatedDate | date:"dd-MM-yyyy"}}
                  </div>
                </div>
              </div> -->
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label col-sm-5" for="">Received Remarks :</label>
                  <div class="col-sm-7 col-md-7 input-group input-group-md">
                    <input type="text" placeholder="" ng-model="rem.receivedRemarks" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                  <label class="control-label col-sm-5" for="">Other Remarks :</label>
                  <div class="col-sm-7 col-md-7 input-group input-group-md">
                    <input type="text" placeholder=""  ng-model="rem.otherRemarks"  class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" margin-top-10" align="center">
                <button id="" class="btn bg-blue active" title="Make Receipt" ng-click="generateDepotReceipt()"> Make Receipt <i class="fa fa-print"></i></button>&nbsp;
                <a class="btn bg-default btn-danger" type="button" ng-href="/#depotReceiptList" title="Back"> Back <i class="fa fa-arrow-left"></i></a>
              </div>
            </div>
          </form>
        </div>
        <div class="clearfix"></div>
          </div>
        </div>




      </div>

      </form>


    </div>
  </div>



  <div ng-include="'html/footer.html'"></div>
</div>
<!--
<script type="text/javascript">
$('#addShortageParts').on('hidden.bs.modal', function (e) {
  $(this)
    .find("input,textarea,select")
       .val('')
       .end()
    .find("input[type=checkbox], input[type=radio]")
       .prop("checked", "")
       .end();
})

</script> -->
