<script src="javascripts/js/jquery.stickytable.min.js"></script>
<div ng-controller="depotStockCtrl">
  <div ng-include="'html/header.html'"></div>
  <menu-div></menu-div>
  <!--CONTENT AREA-->
  <div id="header_bgimg">
    <div class="overlay">
      <div class="container-fluid main_content">
        <ul class="breadcrumb_new">
          <li>
            <a href="#/home">Home</a>
          </li>
          <li class="active">Depot Stock</li>
        </ul>
      </div>
      <div class="main_content">
        <div class="customer_heading text-center">Depot Stock Data</div>
      </div>
    </div>
  </div>
  <toast></toast>
  <div class="container-fluid main_content">
    <div id="main">
      <div class="row" >
          <div class="col-lg-6 col-md-6 margin-bottom-15">
            <label>Please select 'ALL' option from show entries to download reports.</label>
          </div>
        <div class="col-lg-6 col-md-6 margin-bottom-15">
          <div class="pull-right" ng-if="pageSize == depotStockList.length">
              <button  ng-click="download()" type="submit" class="btn bg-blue active" >
                <i class="fa fa-download" title="Depot stock download"></i></button>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-3 col-md-3 margin-bottom-15">
          <select id="reset" name="depotCode" ng-model="depot" class="form-control" >
            <option value="">Select</option>
              <option ng-repeat="depot in depots  | orderBy" value="{{depot.depotCode}}">{{depot.depotName}}</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-3 margin-bottom-15">
          <select class="form-control" id="model" name="model" ng-model="model"  >
            <option value="">Select model </option>
            <option ng-repeat="model in models  | orderBy" value="{{model}}">{{model}}</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-3 margin-bottom-15">
            <ol class="nya-bs-select" name="variant" ng-model="variant" data-size="6" title="Select an option" data-live-search="true" >

              <li nya-bs-option="variant in variants | orderBy: 'code'">
                <a>
                  <span> {{variant.variantCode}}</span>
                  <span class="glyphicon glyphicon-ok check-mark"></span>
                </a>
              </li>
            </ol>

        </div>

        <div class="col-lg-3 col-md-3 margin-bottom-15">
          <div class="pull-left">
            <button  class="btn bg-blue active" ng-click="showData()">Show Data</button>
          </div>
          <div class="pull-left" style="margin-left:2px">
            <button  class="btn bg-blue active" ng-click="clear()">Clear</button>
          </div>
          <div class="pull-right">

          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">

          <div ng-show="loading" class="preloader">
            <i class="fa fa-spinner fa-spin"></i>
            <p style="font-size:15px">Please wait...</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Show
                <select ng-model="pageSize" class="select-legth" ng-change="showLoading()" ng-options="limit.value as limit.key for limit in limits">
                </select> Entries
              </label>
            </div>
            <div class="col-md-6">
              <input type="text" ng-model="search" id="search" class="form-control pull-right" placeholder="search" style="width:220px; margin-bottom:10px">
            </div>
          </div>
          <section ng-hide="loading" id="no-more-tables" style="overflow: auto">
            <div class="sticky-table sticky-headers sticky-ltr-cells">
            <table class="table table-bordered table-striped table-condensed cf" id="depotstock">
              <thead class="cf text_hd">
                <tr class="sticky-row">
                  <th>Sr. No.</th>
                  <th>Depot Code</th>
                  <th>Depot Name</th>
                  <th>Product Code</th>
                  <th>Model Code</th>
                  <th>Variant Code</th>
                  <!-- <th>Serial No.</th> -->
                  <th>Chassis No.</th>
                  <th>Engine No.</th>
                  <!-- <th>Specification</th> -->

                  <th>Market</th>
                  <th>Production_Date</th>
                  <th>NDP_withoutTax</th>
                  <th>Tax</th>
                  <th>Ageing</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <div class="success-msg" ng-if="deleteSuccessMessage">{{deleteSuccessMessage}}</div>
                <div class="error-msg" ng-if="deleteErrorMessage">{{deleteErrorMessage}}</div>
                <!-- | filter:depot  | filter:model | filter:variant.variantCode -->
                <tr dir-paginate="depotStock in depotStockList | orderBy:sortKey:reverse | filter:search  | itemsPerPage:pageSize" current-page="currentPage">
                  <td data-title="SR. NO.">{{pageSize *(currentPage-1)+$index+1}}</td>
                  <td data-title="Depot Code">{{depotStock.depot.code || depotStock.plant.code}}</td>
                  <td data-title="Depot Code">{{depotStock.depot.name}}</td>
                  <td data-title="Product Code">{{depotStock.productCode}}</td>
                  <td data-title="Model">{{depotStock.model}}</td>
                  <td data-title="Variant Code">{{depotStock.variantCode}}</td>
                  <!-- <td data-title="Variant Code">{{depotStock.serialNo}}</td> -->
                  <td data-title="Chasis No">{{depotStock.chassisNo}}</td>
                  <td data-title="Engine No">{{depotStock.engineNo}}</td>
                  <!-- <td data-title="Configuration">{{depotStock.specification}}</td> -->

                  <td data-title="Mkt">{{depotStock.market}}</td>
                  <td data-title="Prod-Date">{{depotStock.prodDate | date:"dd-MM-yyyy"}}</td>
                  <td data-title="NDP_withoutTax">{{depotStock.NDP | currencyCode  }}</td>
                  <td data-title="Tax">{{depotStock.SST +depotStock.GST  }}</td>
                  <td data-title="Ageing"> {{depotStock.prodDate | dateDiff }}</td>
                  <td data-title="Status">{{depotStock.status | uppercase}}</td>
                  <!-- <td ng-if="depotStock.isTransit==false" data-title="Status">stock</td> -->
                  <td data-title="Options" class="text-center">
                  <a class="btn bg-blue btn-xs radius_none" href="" data-toggle="modal" ng-click="form22(depotStock)">
                      <span>Form 22</span>
                    </a>

                    <a class="btn bg-blue btn-xs radius_none" href=""  data-toggle="modal"  ng-click="editDepotIndo(depotStock)">
                        <span class="fa fa-edit margin-right-0"></span>
                      </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="modal fade" id="confirmDeleteModal{{$index}}" tabindex="-1" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                    <!-- <h4 class="modal-title">Modal title</h4> -->
                  </div>
                  <div class="modal-body">
                    <div class="alert alert-danger" role="alert">This record will delete from this Date: {{date | date:'dd-MM-yyyy h:mm a'}}</div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="deleteDepotIndo(depotStock.chasisNo)">Delete</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
          </div>
          </section>
          <div align="left">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
          </div>
          <!--// End List-->
        </div>
      </div>
      <div class="clearfix"></div>

      <!--View Depot PopUp-->
      <div class="modal fade" id="ViewDepotStock" role="dialog" data-backdrop="false" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-orange">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-white text-center">{{viewDepotStock.productCode}}</h4>
            </div>
            <div class="modal-body border_btm" style="overflow:hidden">
              <form class="form-horizontal" role="form">
                <div class="col-md-6">
                  <div class="error-msg" ng-if="errorMessage">{{errorMessage}}</div>
                  <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Product Code :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.productCode}}</div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Variant Code :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.variantCode}}</div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Model Code :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.model}}</div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Chassis No. :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.chasisNo}}</div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Engine No. :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.engineNo}}</div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Specification :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.configuration}}</div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Depot Code :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.depotCode}}</div>
                  </div>

                </div>

                <div class="col-md-6">
                  <!-- <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Serial No. :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.serialNo}}</div>
                  </div> -->
                  <!-- <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Location :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.location}}</div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Market :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.mkt}}</div>
                  </div> -->
                  <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Prod. Date :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.productDate | myDateFilter}}</div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 text-right" for="">Status :</label>
                    <div class="col-sm-7 col-md-7">{{viewDepotStock.isTransit | uppercase}}</div>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--View Depot PopUp END-->
   <!--Update Depot PopUp start-->

   <div class="modal fade" id="UpdateDepotStock" role="dialog"  role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-orange">
            <button type="button" class="close" data-dismiss="modal" ng-click="closeEdit()">&times;</button>
            <h4 class="modal-title text-white text-center">Update Depot Stock</h4>
          </div>
          <div class="modal-body border_btm" style="overflow:hidden">
            <form class="form-horizontal" role="form" name="updateDepotStock" ng-submit="updateDepotFun()" novalidate>
              <div class="success-msg" ng-if="updateSuccessMessage" id="updateSuccessMessage">{{updateSuccessMessage}}</div>
              <div class="error-msg" ng-if="updateErrorMessage" id="updateErrorMessage">{{updateErrorMessage}}</div>
              <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                      <label class="control-label col-sm-5" for="">Chassis No. :</label>
                      <div class="col-sm-7 col-md-7 input-group input-group-md">
                        <div class="icon-addon addon-md">
                          <input type="text" class="form-control" name="chasisNo" placeholder="Chasis No." ng-model="editDepotStock.chassisNo" readonly required>
                        </div>
                        <span class="input-group-addon radius_none">
                          <i class="SDF_symbol_col"></i>
                        </span>
                      </div>
                      <div class="col-sm-5"></div>
                      <span class="err-msg col-sm-7 col-md-7" ng-if="updateDepotStock.submitted && updateDepotStock.chasisNo.$invalid"> Required *</span>
                    </div>
                <div class="form-group">
                  <label class="control-label col-sm-5" for="">Model :</label>
                  <div class="col-sm-7 col-md-7 input-group input-group-md">
                    <div class="icon-addon addon-md">
                      <select class="form-control" id="model" name="model" ng-model="editDepotStock.model" ng-change="getVariants( editDepotStock.model)">
                        <option value="">Select model </option>
                        <option ng-repeat="variant in model  | orderBy" value="{{variant}}">{{variant}}</option>
                      </select>
                    </div>
                    <span class="input-group-addon radius_none">
                      <i class="fa fa-check color_orange"></i>
                    </span>
                  </div>
                  <div class="col-sm-5"></div>
                  <span class="err-msg col-sm-7 col-md-7" ng-if="createDepotStock.submitted && editDepotStock.model.$invalid"> Required *</span>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-5" for="">Variant :</label>
                  <div class="col-sm-7 col-md-7 input-group input-group-md">
                    <div class="icon-addon addon-md">
                      <select class="form-control" id="variant" name="variant" ng-options="variant.variantCode as variant.variantCode for variant in variants" ng-model="editDepotStock.variantCode" ng-change="changeVariantPrice(editDepotStock.variantCode)">
                        <option value="">Select variant </option>

                      </select>
                   
                    </div>
                    <span class="input-group-addon radius_none">
                      <i class="fa fa-check color_orange"></i>
                    </span>
                  </div>
                  <div class="col-sm-5"></div>
                  <span class="err-msg col-sm-7 col-md-7" ng-if="createDepotStock.submitted && editDepotStock.variants.$invalid"> Required *</span>
                </div>
              
                
              </div>
              <div class="col-lg-6 col-md-6">
               
              </div>
              <div class="col-md-4 col-sm-12 margin-top-30">
                <!-- <div class="form-group">
                  <div class="col-sm-offset-5">
                    <button type="button" class="btn bg-blue active col-xs-12 col-sm-4 col-md-4 btn_submit">Check </button>
                  </div>
                </div> -->
              </div>
              <div class="col-md-4 col-sm-12 margin-top-30">
                  <div class="form-group">
                    <div class="col-sm-offset-5">
                      <button type="submit" class="btn bg-blue active col-xs-12 col-sm-4 col-md-6 btn_submit">UPDATE </button>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-4 col-sm-12 margin-top-30">
                    <div class="form-group">
                      <div class="col-sm-offset-5">
                        <button type="submit" class="btn bg-blue active col-xs-12 col-sm-4 col-md-4 btn_submit">UPDATE </button>
                      </div>
                    </div>
                  </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- ends here  -->
    </div>
  </div>
  <div ng-include="'html/footer.html'"></div>
</div>
