<div ng-controller="stnReturnReceiptCtrl">
  <div ng-include="'html/header.html'"></div>
  <menu-div></menu-div>
  <!--CONTENT AREA-->

  <div id="header_bgimg">
    <div class="overlay">
      <div class="container-fluid main_content">
        <ul class="breadcrumb_new">
          <li><a href="/#home">Home</a></li>
          <li class="active">STN Return Receipt List</li>
        </ul>
      </div>
      <div class="main_content">
        <div class="customer_heading text-center">STN Return Receipt List</div>
      </div>
    </div>
  </div>

  <div class="container-fluid main_content">
    <div id="main">
      <div class="row">
        <div class="col-md-12">
          <div class="col-lg-12 col-md-12">
            <div class="row">
              <div class="col-md-6">
                <label>Show
                  <select ng-model="pageSize">
                    <option value="10" ng-selected="true"> 10</option>
                    <option value="25"> 25</option>
                    <option value="50"> 50</option>
                    <option value="100">100</option>
                  </select> entries
                </label>
              </div>
              <div class="col-md-6">
                <input type="text" ng-model="search" id="search" class="form-control pull-right" placeholder="search" style="width:220px; margin-bottom:10px">
              </div>
            </div>
            <section id="no-more-tables">
              <table class="table table-bordered table-striped table-condensed cf">
                <thead class="cf text_hd">
                  <tr style="font-weight:bolder;">
                    <th><i class=""></i>Sr. No.</th>
                    <th ng-click="sort('invoiceNo')"><i class="fa fa-file-o"></i>STN
                    <span class="glyphicon sort-icon" ng-show="sortKey=='invoiceNo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <!-- <th ng-click="sort('invoiceDate')"><i class="fa fa-calendar"></i>Invoice Date
                      <span class="glyphicon sort-icon" ng-show="sortKey=='invoiceDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th> -->
                    <!-- <th ng-click="sort('receivedDate')"><i class="fa fa-calendar"></i>Receipt Date
                      <span class="glyphicon sort-icon" ng-show="sortKey=='receivedDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th> -->
                    <th ng-click="sort('fromDepot')"><i class="fa fa-home"></i>From Depot
                      <span class="glyphicon sort-icon" ng-show="sortKey=='fromDepot'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('depotname')"><i class="fa fa-home"></i>To Depot
                      <span class="glyphicon sort-icon" ng-show="sortKey=='depotname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th style="width:20%" ng-click="sort('chasisNo')"><i class="fa fa-check"></i>Chassis No
                      <span class="glyphicon sort-icon" ng-show="sortKey=='chasisNo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('engineNo')"><i class="fa fa-check"></i>Engine No
                      <span class="glyphicon sort-icon" ng-show="sortKey=='engineNo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th style="width:15%" ng-click="sort('model')"><i class="fa fa-check"></i>Model Code
                      <span class="glyphicon sort-icon" ng-show="sortKey=='model'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('variantCode')"><i class="fa fa-check"></i>Variant Code
                      <span class="glyphicon sort-icon" ng-show="sortKey=='variantCode'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr dir-paginate="receipt in depotReceiptList | orderBy:sortKey:reverse | filter:search | itemsPerPage:pageSize" current-page="currentPage" ng-if="depotReceiptList.length > 0">
                    <td data-title="Sr. No.">{{pageSize *(currentPage-1)+$index+1}}</td>
                    <td data-title="Invoice No"><a ng-click="getDepotReceiptList(receipt)">{{receipt.invoiceNo}}</a></td>
                    <!-- <td data-title="Invoice Date">{{receipt.invoiceDate | date:"dd-MM-yyyy"}}</td> -->
                    <!-- <td data-title="Receipt Date">{{receipt.receivedDate | date:"dd-MM-yyyy"}}</td> -->
                    <td data-title="From Depot">
                        {{receipt.fromDepot}}
                    </td>
                    <td data-title="To Dealer">
                      {{receipt.depotname}}
                    </td>

                    <td data-title="Chasis No">
                      {{receipt.chasisNo}}
                    </td>
                    <td data-title="Engine No">
                      {{receipt.engineNo}}
                    </td>
                    <td data-title="Model Code">
                      {{receipt.model}}
                    </td>
                    <td data-title="Variant Code">
                      {{receipt.variantCode}}
                    </td>
                  </tr>
                  <tr ng-if="depotReceiptList.length == 0">
                    <td colspan="10" align="center">No Records Found</td>
                  </tr>

                </tbody>
              </table>

            </section>
            <dir-pagination-controls ng-if="depotReceiptList.length > 0"
              max-size="10"
              direction-links="true"
              boundary-links="true">
            </dir-pagination-controls>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div ng-include="'html/footer.html'"></div>
</div>
