<script src="javascripts/js/jquery.stickytable.min.js"></script>
<div ng-controller="stockStatusCtrl">
  <div ng-include="'html/header.html'"></div>
  <menu-div></menu-div>
  <!--CONTENT AREA-->
  <div id="header_bgimg">
    <div class="overlay">
      <div class="container-fluid main_content">
        <ul class="breadcrumb_new">
          <li><a href="#/home">Home</a></li>
          <li class="active">Depot Stock</li>
        </ul>
      </div>
      <div class="main_content">
        <div class="customer_heading text-center">Depot Stock Status</div>
      </div>
    </div>
  </div>
  <div class="container-fluid main_content">
    <div id="main">
      <div class="row">
        <div class="col-lg-12 col-md-12 margin-bottom-15">
          <div class="pull-right">
            <div class="download">
              <div ng-excel="" type="'excel'" data="excel.data" xlsfilename="'DepotStockbyVariant.xls'" down="excel.down">
              </div>
              <button type="submit" class="btn bg-blue active" ng-click="excel.down(testData)">
                <i class="fa fa-download"></i>Download Stock</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div ng-if="depotId">
          <label class="col-sm-3 text-right">Depot Code: <b> {{depotId}} </b> </label>
          <label class="col-sm-3 text-right">Depot Name: <b> {{depotName}} </b> </label>
        </div>

        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="col-md-6">
              <label>Show
                <select ng-model="pageSize" class="select-legth" ng-options="limit as limit for limit in limits">
                </select> Entries
              </label>
            </div>
            <div class="col-md-6">
              <input type="text" ng-model="search" id="search" class="form-control pull-right" placeholder="search" style="width:220px; margin-bottom:10px">
            </div>
          </div>
          <section id="no-more-tables" style="overflow: auto">
            <div class="sticky-table sticky-headers sticky-ltr-cells">
            <table class="table table-bordered table-striped table-condensed cf">
              <thead class="cf text_hd">
                <tr class="sticky-row">
                  <th>Sr. No.</th>
                  <th>Depot Code</th>
                  <th>Depot Name</th>
                  <th>Model</th>
                  <th>Variant Code</th>
                  <th>Status</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="depotStock in depotStockList | orderBy:sortKey:reverse | filter:search | itemsPerPage:pageSize | orderBy: '_id.code'" current-page="currentPage">
                  <td data-title="Sr. No.">{{pageSize *(currentPage-1)+$index+1}}</td>
                  <td data-title="Depot Code">
                    <span>{{depotStock._id.code}}</span>
                  </td>
                  <td data-title="Depot Name">
                      <span>{{depotStock._id.name}}</span>
                  </td>
                  <td data-title="Model Code">
                      <span>{{depotStock._id.model}}</span>
                  </td>
                  <td data-title="vriant  Code">
                      <span>{{depotStock._id.variantCode}}</span>
                  </td>
                  <td data-title="Status">
                      <span>{{depotStock._id.status}}</span>
                  </td>
                  <td data-title="Quantity">
                      <span>{{depotStock.vehicles}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </section>
          <div align="left">
            <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
            </dir-pagination-controls>
          </div>
          <!--// End List-->

        </div>
      </div>
    </div>
  </div>

  <!-- Stock POP Up -->
  <div class="modal fade flipInX animated" tabindex="-1" id="viewVehicles" role="dialog" style="z-index: 9999;">
    <div class="modal-dialog margin-top-70">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header bg-grey">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4 class="modal-title text-white text-center">Model Code: {{model}}</h4>
        <h4 class="modal-title text-white text-center">Variant Code: {{variant}}</h4> </div>
        <div class="modal-body">
          <section id="no-more-tables">
            <table class="table table-bordered table-striped table-condensed cf margin-bottom-0">
              <thead class="cf bg-orange text-white">
                <tr>
                  <th data-title="SRNO"><i class="SDF_symbol"></i>Sr. No.</th>
                  <th data-title="Chasis"><i class="SDF_symbol"></i>Chassis No.</th>
                  <th data-title="stock"><i class="fa fa-truck"></i>In Transit</th>
                  <th data-title="stock"><i class="fa fa-truck"></i>Shortage / Damage</th>
                  <th data-title="Chasis"><i class="SDF_symbol"></i>Under PDI</th>
                  <th data-title="stock"><i class="fa fa-truck"></i>In Stock</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="variant in variants">
                  <td data-title="SRNO">{{$index+1}}</td>
                  <td data-title="Chassis">{{variant.chassisNo}}</td>
                  <td align="center" ng-if="variant.inTransit==true"><i class="fa fa-check"></i></td>
                  <td align="center" ng-if="variant.inTransit==false"><i class="fa fa-close"></i></td>
                  <td align="center" ng-if="variant.pdi==false"><i class="fa fa-close"></i></td>
                  <td align="center" ng-if="variant.pdi==true"><i class="fa fa-check"></i></td>
                  <td align="center" ng-if="variant.damage==false"><i class="fa fa-close"></i></td>
                  <td align="center" ng-if="variant.damage==true"><i class="fa fa-check"></i></td>
                  <td align="center" ng-if="variant.inStock==true"><i class="fa fa-check"></i></td>
                  <td align="center" ng-if="variant.inStock==false"><i class="fa fa-close"></i></td>
                </tr>


              </tbody>
            </table>
          </section>
          </div>
      </div>
    </div>
  </div>


  <!--View Dealer vehicles list END-->
  <div ng-include="'html/footer.html'"></div>
</div>
